/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/partials/_module.scss */
.module-lineup, .module-lineup figure ul li, .module-lineup nav {
  zoom: 1;
}
/* line 3, ../sass/partials/_module.scss */
.module-lineup:before, .module-lineup figure ul li:before, .module-lineup nav:before, .module-lineup:after, .module-lineup figure ul li:after, .module-lineup nav:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 9, ../sass/partials/_module.scss */
.module-lineup:after, .module-lineup figure ul li:after, .module-lineup nav:after {
  clear: both;
}

/* line 15, ../sass/partials/_module.scss */
.module-lineup figure ul li a:focus, .module-lineup.tiny nav button.lineup-inactive:focus, .module-lineup.narrow nav button.lineup-inactive:focus {
  background-color: #b4e7fc;
}

/* line 20, ../sass/partials/_module.scss */
.module-lineup {
  font-family: 'flama', sans-serif;
}
/* line 25, ../sass/partials/_module.scss */
.module-lineup .lineup-away-table,
.module-lineup .lineup-field-away {
  display: block;
}
/* line 29, ../sass/partials/_module.scss */
.module-lineup figure {
  position: relative;
  background-color: green;
}
/* line 34, ../sass/partials/_module.scss */
.module-lineup figure section.lineup-field {
  position: absolute;
  width: 45%;
  top: 0px;
  height: 100%;
}
/* line 41, ../sass/partials/_module.scss */
.module-lineup figure section.lineup-field.lineup-inactive {
  display: none;
}
/* line 45, ../sass/partials/_module.scss */
.module-lineup figure section.lineup-field.lineup-inactive {
  display: block;
}
/* line 51, ../sass/partials/_module.scss */
.module-lineup figure section.lineup-field.lineup-rows-3 ul {
  width: 33.33333%;
  text-align: center;
}
/* line 51, ../sass/partials/_module.scss */
.module-lineup figure section.lineup-field.lineup-rows-4 ul {
  width: 25%;
  text-align: center;
}
/* line 51, ../sass/partials/_module.scss */
.module-lineup figure section.lineup-field.lineup-rows-5 ul {
  width: 20%;
  text-align: center;
}
/* line 51, ../sass/partials/_module.scss */
.module-lineup figure section.lineup-field.lineup-rows-6 ul {
  width: 16.66667%;
  text-align: center;
}
/* line 51, ../sass/partials/_module.scss */
.module-lineup figure section.lineup-field.lineup-rows-7 ul {
  width: 14.28571%;
  text-align: center;
}
/* line 51, ../sass/partials/_module.scss */
.module-lineup figure section.lineup-field.lineup-rows-8 ul {
  width: 12.5%;
  text-align: center;
}
/* line 59, ../sass/partials/_module.scss */
.module-lineup figure .lineup-field-home,
.module-lineup figure .lineup-field-away {
  left: 5%;
}
/* line 62, ../sass/partials/_module.scss */
.module-lineup figure .lineup-field-away {
  right: 5%;
  left: inherit;
}
/* line 67, ../sass/partials/_module.scss */
.module-lineup figure .lineup-field-away ul, .module-lineup figure .lineup-field-away ul li a {
  float: right;
}
/* line 72, ../sass/partials/_module.scss */
.module-lineup figure ul {
  float: left;
  position: relative;
  top: 50%;
  bottom: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 82, ../sass/partials/_module.scss */
.module-lineup figure ul li {
  text-align: center;
  margin: 1em 0;
  width: 100%;
}
/* line 88, ../sass/partials/_module.scss */
.module-lineup figure ul li a {
  width: 2em;
  padding: 0.25em 0.5em;
  display: block;
  color: #000;
  background-color: #fff;
  box-shadow: 2px 2px 0px black;
}
/* line 109, ../sass/partials/_module.scss */
.module-lineup nav button {
  border: 0;
  box-shadow: none;
  background: transparent;
  color: inherit;
  text-align: left;
  font-size: 1em;
}
/* line 117, ../sass/partials/_module.scss */
.module-lineup nav button:hover {
  -webkit-transform: translate(0px, 0px);
  -ie-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
/* line 124, ../sass/partials/_module.scss */
.module-lineup nav button p {
  margin: 0;
}
/* line 128, ../sass/partials/_module.scss */
.module-lineup nav button h3 {
  font-weight: 900;
  font-family: 'flama_semi_condensed', 'flama', sans-serif;
}
/* line 136, ../sass/partials/_module.scss */
.module-lineup .lineup-table {
  padding: 0 0.75em;
}
/* line 139, ../sass/partials/_module.scss */
.module-lineup .lineup-table caption {
  margin: 5px 0;
  padding: 0;
  border: none;
  font-weight: 400;
}
/* line 145, ../sass/partials/_module.scss */
.module-lineup .lineup-table .module-table {
  margin: 0;
}
/* line 149, ../sass/partials/_module.scss */
.module-lineup .lineup-table .module-table table {
  margin: 15px 0;
}
/* line 152, ../sass/partials/_module.scss */
.module-lineup .lineup-table .module-table table th, .module-lineup .lineup-table .module-table table td {
  padding: 0.5em 0;
}
/* line 155, ../sass/partials/_module.scss */
.module-lineup .lineup-table .module-table table th img, .module-lineup .lineup-table .module-table table td img {
  height: 1em;
  vertical-align: middle;
  margin: 0 0.25em;
  line-height: 1em;
}
/* line 163, ../sass/partials/_module.scss */
.module-lineup .lineup-table .module-table table tr:first-child th {
  border-top: none;
  padding: 0.25em 0;
}
/* line 168, ../sass/partials/_module.scss */
.module-lineup .lineup-table .module-table table tr td.match-data {
  text-align: right;
}
/* line 171, ../sass/partials/_module.scss */
.module-lineup .lineup-table .module-table table tr td:first-child {
  width: 30px;
}
/* line 174, ../sass/partials/_module.scss */
.module-lineup .lineup-table .module-table table tr td:first-child.shirt-number {
  font-weight: 700;
}
/* line 185, ../sass/partials/_module.scss */
.module-lineup.normal .lineup-field {
  font-size: 20px;
}
/* line 187, ../sass/partials/_module.scss */
.module-lineup.normal .lineup-field ul li {
  margin: 3.25em 0;
}
/* line 194, ../sass/partials/_module.scss */
.module-lineup.medium .lineup-field {
  font-size: 16px;
}
/* line 196, ../sass/partials/_module.scss */
.module-lineup.medium .lineup-field ul li {
  margin: 2.8em 0;
}
/* line 206, ../sass/partials/_module.scss */
.module-lineup.tiny nav button.lineup-inactive, .module-lineup.narrow nav button.lineup-inactive {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}
/* line 213, ../sass/partials/_module.scss */
.module-lineup.tiny nav button.lineup-inactive.lineup-home, .module-lineup.narrow nav button.lineup-inactive.lineup-home {
  border-right: 2px solid rgba(0, 0, 0, 0.25);
}
/* line 216, ../sass/partials/_module.scss */
.module-lineup.tiny nav button.lineup-inactive.lineup-away, .module-lineup.narrow nav button.lineup-inactive.lineup-away {
  border-left: 2px solid rgba(0, 0, 0, 0.25);
}
/* line 225, ../sass/partials/_module.scss */
.module-lineup.tiny[data-lineup="lineup-home"] .lineup-home-table,
.module-lineup.tiny[data-lineup="lineup-home"] .lineup-field-home, .module-lineup.narrow[data-lineup="lineup-home"] .lineup-home-table,
.module-lineup.narrow[data-lineup="lineup-home"] .lineup-field-home {
  display: block;
}
/* line 229, ../sass/partials/_module.scss */
.module-lineup.tiny[data-lineup="lineup-home"] .lineup-away-table,
.module-lineup.tiny[data-lineup="lineup-home"] .lineup-field-away, .module-lineup.narrow[data-lineup="lineup-home"] .lineup-away-table,
.module-lineup.narrow[data-lineup="lineup-home"] .lineup-field-away {
  display: none;
}
/* line 234, ../sass/partials/_module.scss */
.module-lineup.tiny .lineup-field-away, .module-lineup.narrow .lineup-field-away {
  left: 5%;
}
/* line 237, ../sass/partials/_module.scss */
.module-lineup.tiny .lineup-field-away ul, .module-lineup.narrow .lineup-field-away ul {
  float: left;
}
/* line 239, ../sass/partials/_module.scss */
.module-lineup.tiny .lineup-field-away ul li a, .module-lineup.narrow .lineup-field-away ul li a {
  float: none;
}
/* line 247, ../sass/partials/_module.scss */
.module-lineup.tiny[data-lineup="lineup-away"] .lineup-home-table,
.module-lineup.tiny[data-lineup="lineup-away"] .lineup-field-home, .module-lineup.narrow[data-lineup="lineup-away"] .lineup-home-table,
.module-lineup.narrow[data-lineup="lineup-away"] .lineup-field-home {
  display: none;
}
/* line 252, ../sass/partials/_module.scss */
.module-lineup.tiny .lineup-table.c4, .module-lineup.narrow .lineup-table.c4 {
  width: 100%;
}
/* line 255, ../sass/partials/_module.scss */
.module-lineup.tiny .lineup-table.lineup-inactive, .module-lineup.narrow .lineup-table.lineup-inactive {
  display: none;
}
/* line 258, ../sass/partials/_module.scss */
.module-lineup.tiny .lineup-table.lineup-active, .module-lineup.narrow .lineup-table.lineup-active {
  display: block;
}
/* line 262, ../sass/partials/_module.scss */
.module-lineup.tiny figure .lineup-field, .module-lineup.narrow figure .lineup-field {
  width: 95%;
}
/* line 268, ../sass/partials/_module.scss */
.module-lineup.tiny .lineup-field {
  font-size: 10px;
}
