%clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

%focus{
	&:focus{
		background-color: #b4e7fc;
	};
}

.module-lineup{
	font-family: 'flama', sans-serif;
	@extend %clearfix;

	#lineup-away-table,
	#lineup-field-away {
		display: block;
	}

	figure{
		position: relative;
		background-color: green;


		section.lineup-field{
			position: absolute;
			width: 45%;
			top: 0px;
			height: 100%;

			
			&.lineup-inactive{
				display: none;
			}

			&.lineup-inactive{
				display: block;
			}

			@for $i from 3 through 8{

				&.lineup-rows-#{$i} ul{
					width: percentage(1/$i);
					text-align: center;
				}
			}
		}

		#lineup-field-home,
		#lineup-field-away{
			left: 5%;
		}
		#lineup-field-away{

			right: 5%;
			left:inherit;

			ul, ul li a{
				float: right;
			}
		}

		ul{
			float:left;
			position: relative;
			top: 50%;
			bottom: 0;

			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			transform: translateY(-50%);

			li {
				text-align: center;
				margin: 1em 0;
				width: 100%;
				@extend %clearfix;

				a{
					width: 2em;
					padding: 0.5em;
					display: block;
					color: #000;
					background-color: #fff;
					box-shadow: 2px 2px 0px rgba(0,0,0,1);

					//should highlight on focus
					@extend %focus;

				}
				
			}
		}

	}

	nav {
		@extend %clearfix;

		button{
			border: 0;
			box-shadow: none;
			background: transparent;
			color: inherit;
			text-align: left;
			font-size: 1em;
			
			&:hover {
				//resetting button behaviour
				-webkit-transform: translate(0px, 0px);
				-ie-transform: translate(0px, 0px);
				transform: translate(0px, 0px);
			}

			h3{
				font-weight: 900;
				font-family: 'flama_semi_condensed', 'flama', sans-serif;
			}

		}
	}

	.lineup-table{
		padding: 0 0.75em;

		caption{
			margin: 5px 0;
			padding: 0;
			border: none;
			font-weight: 400;
		}
		.module-table{
			//sportsdata overrides
			margin: 0;

			table{
				margin: 15px 0;

				th, td{
					padding: 0.5em 0;
					
					img{
						height: 1em;
						vertical-align: middle;
						margin:0 0.25em;
						line-height: 1em;	
					}
				}
				tr{
					&:first-child th{
						border-top: none; 
						padding: 0.25em 0;
					}
					td{
						&.match-data{
							text-align: right;
						}
						&:first-child{
							width: 30px;

							&.shirt-number{
								font-weight: 700;
							}
						}
					}
				}
			}
		}
	}
	//'responsive' rules
	&.normal {
		.lineup-field{
			font-size: 20px;
			ul li{
				margin: 3.25em 0;
			}
		}
	}

	&.medium {
		.lineup-field{
			font-size: 16px;
			ul li{
				margin: 2.8em 0;
			}
		}
	}

	&.tiny,
	&.narrow{
		
		nav button{
			&.lineup-inactive{
				background-color: rgba(0,0,0,0.20);
				border-bottom: 2px solid rgba(0,0,0,0.25);

				//should highlight on focus
				@extend %focus;

				&.lineup-home{
					border-right: 2px solid rgba(0,0,0,0.25);
				}
				&.lineup-away{
					border-left: 2px solid rgba(0,0,0,0.25);
				}
			}
		}

		&[data-lineup="lineup-home"] {

			#lineup-home-table,
			#lineup-field-home {
				display: block;
			}
			#lineup-away-table,
			#lineup-field-away {
				display: none;
			}
		}

		#lineup-field-away{
			left: 5%;
			
			ul{
				float: left;
				li a{
					float: none;
				}
			}
		}
		
		&[data-lineup="lineup-away"] {
			#lineup-home-table,
			#lineup-field-home {
				display: none;
			}
		}

		.lineup-table.c4{
			width: 100%;
		}
		.lineup-table.lineup-inactive{
			display: none;
		}
		.lineup-table.lineup-active{
			display:block;
		}

		figure .lineup-field{
			width: 95%;
		}
	}

	&.tiny{
		.lineup-field{
			font-size: 10px;	
		}
	}

}